<%- include('./partials/head.ejs') %>

<main>
  <h3><%= squad.name %></h3>

  <section>
    <!-- Hier komen de members -->
    <% squad.members.forEach(member => { %>
    <article>
      <% if (member.avatar) { %>
      <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
      <% }else{ %>
      <img src="/assets/placeholder.svg" alt="Placeholder avatar" />
      <% } %>
      <h4><%= member.name %> <%= member.prefix %> <%= member.surname %></h4>
    </article>
    <% }) %>
  </section>
</main>

<%- include('./partials/foot.ejs') %>
